/* Navigation Bar */

.navBR {
    background-color: #66CEE8;
}

.resume-body {
    background-color: black
}

.nav-link {
    color: #E02B70;
}

/* Footer */

.footer {
    padding: 40px;
    background: #66CEE8;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    text-align: center;
    color: #E02B70;

}

/* Profile Section & Media Queries */

@media only screen and (max-width:600px) {
    .profile {
        border-radius: 50%;
        margin-top: 35px;
        margin-left: 180px;
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }
}


@media only screen and (min-width:601px) and (max-width:767px) {
    .profile {
        border-radius: 50%;
        margin-top: 35px;
        margin-left: 200px;
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .profile {
        border-radius: 50%;
        margin-top: 35px;
        margin-left: 15px;
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .profile {
        border-radius: 50%;
        margin-top: 35px;
        margin-left: 30px;
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }
}

@media only screen and (min-width:1200px) {
    .profile {
        border-radius: 50%;
        margin-top: 35px;
        margin-left: 46px;
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }
}

/* Name & Media Queries */
.name {
    color: white;
    margin-top: 5px;
    text-align: center;
    margin-left: 15px;
}

@media only screen and (max-width:600px) {
    .name {
        margin-left: 180px;
    }
}

@media only screen and (max-width:600px) {
    .lee {
        margin-left: 25px;
    }
}

@media only screen and (min-width:601px) and (max-width:767px) {
    .name {
        margin-left: 200px;
    }
}

@media only screen and (min-width:601px) and (max-width:767px) {
    .lee {
        margin-left: 25px;
    }
}

/* Contact Section */

.contactcontainer {
    justify-content: center;
}

.contacts {
    text-align: center;
    color: white;
}

.contactstuff {
    color: white;
    float: left;
}
